<html ng-app="EditorApp">
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/app.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse fixed-top">
			
		</nav>
		<div class="container">
			<div ng-view></div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="static/libs/angular.js"></script>
		<script type="text/javascript" src="static/libs/angular-route.js"></script>
		<script type="text/javascript" src="static/libs/angular-resource.js"></script>
		<script type="text/javascript" src="static/libs/bootstrap.js"></script>
		<script type="text/javascript" src="static/app/editor.js"></script>
		<script type="text/javascript" src="static/app/editor-controllers.js"></script>
	</body>
</html>