<div class="row row-separator">
	<div class="col-md-12">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    File <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a ng-click="saveProject()">Save</a></li>
	    <li><a ng-click="updateProject()">Update</a></li>
	  </ul>
	</div>
</div>
<div class="row row-separator">
	<div class="col-md-2">
			<button class="btn btn-primary" ng-click="nodeTool()" >
				<span class="glyphicon glyphicon-record"></span>
			</button>
			<button class="btn btn-primary" ng-click="lineTool()">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button class="btn btn-primary" ng-click="handTool()">
				<span class="glyphicon glyphicon-hand-left"></span>
			</button>
			<div ng-if="tool !== undefined || tool instanceof HandTool">
				<form role="form">
					<div ng-if="tool instanceof NodeTool">
						<div class="form-group">

						</div>
					</div>
					<div ng-if="tool instanceof LineTool">

					</div>
				</form>
			</div>
	</div>
	<div class="col-md-10">
			<canvas class="canvas-container" drawgraph></canvas>
	</div>
</div>
