<div class="row row-separator">
	<div class="col-md-12">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    File <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a ng-click="saveProject()">Save</a></li>
	    <li><a ng-click="updateProject()">Update</a></li>
	  </ul>
	</div>
</div>
<div class="row row-separator">
	<div class="col-md-2">
			<button class="btn btn-primary" ng-click="nodeTool()" >
				<span class="glyphicon glyphicon-record"></span>
			</button>
			<button class="btn btn-primary" ng-click="lineTool()">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button class="btn btn-primary" ng-click="handTool()">
				<span class="glyphicon glyphicon-hand-left"></span>
			</button>
			<div ng-if="toolOption !== undefined">
				<form role="form">
					<div ng-if="toolOption === 'NodeTool'">
						<div class="form-group">
							<label for="nodetype">Node type:</label>

						</div>
						<div class="form-group">
							<label for="dimension">Size:</label>
							<input class="form-control" ng-model="tool.dimension" type="text">
						</div>
					</div>
					<div ng-if="toolOption === 'LineTool'">
						<div class="form-group">
							<div class="form-control">
								<label for="thickness">Size:</label>
								<input type="text" ng-model="tool.thickness" class="form-control">
							</div>
						</div>
					</div>
				</form>
			</div>
	</div>
	<div class="col-md-10">
			<canvas class="canvas-container" drawgraph></canvas>
	</div>
</div>
