<div id="editor">
	<div class="canvas-tools md-col-3">
		<button class="btn btn-primary" ng-click="saveProject()" >
			<span class="glyphicon glyphicon-floppy-save"></span>
		</button>
		<button class="btn btn-primary" ng-click="nodeTool()" >
			<span class="node-ico"></span>
		</button>
		<button class="btn btn-primary" ng-click="lineTool()">
			<span class="edge-ico"></span>
		</button>
	</div>
	<div class="canvas-border md-col-9">
		<canvas width="{{canvasWidth}}" height="{{canvasHeight}}" drawgraph></canvas>
	</div>
</div>
